p{
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.model {
    font-size: 40px;
    font-weight: 500;
}
.order {
    margin-top: 7px;
    font-weight: 400;
    
}
.delivery {
    text-decoration: underline;
}
    
