.container {
    display: flex;
    height: 50px;
    flex-direction: row;
}
.t {
    background-color: black;
    color: white;
}
.blue {
    background-color: lightblue;
    width: 200px;
}
.pink {
    background-color: lightpink;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
