p {
    font-family: Arial;
}
.s-font {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
    margin-left: 2px;
    text-align: center;
}
.w-font {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}
.l-font {
    text-align: center;
    font-size: 14px;
    color: rgba(37, 37, 204, 0.795);
}